@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

/* Global Rules */
*
{
    font-family: 'Sora', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
/* Global Rules */

/* Start Header */
header
{
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    position: fixed;
    z-index: 9999;
}

.logo
{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
}

.nav a
{
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding-left: 20px;
}

.nav a:hover
{
    color: #BF29EC;
}

@media (max-width: 767px){ /* Mobile And Tablet */
    header
    {
        padding: 10px 10px;
    }

    .logo
    {
        font-size: 0.1em;
    }

    .nav a
    {
        padding-left: 10px;
        display: inline-block;
        font-size: 0.5em;
    }
}

@media (min-width: 768px){ /* Small Screen */
    header
    {
        padding: 10px 50px;
    }

    .logo
    {
        font-size: 1em;
    }

    .nav a
    {
        padding-left: 10px;
    }
}

@media (min-width: 280px) and (max-width: 400px){
    header
    {
        padding: 10px 10px;
        justify-content: flex-start;
    }

    .logo
    {
        font-size: 0.5em;
    }

    .nav a
    {
        padding-left: 5px;
    }
}

@media (max-width: 500px){
    header
    {
        padding: 10px 10px;
        justify-content: space-between;
    }

    .logo
    {
        font-size: 0.1em;
    }

    .nav a
    {
        padding-left: 10px;
        display: inline-block;
        font-size: 0.5em;
    }
    
}

/* End Header */

/* Global Classes */
section
{
    padding: 200px 100px;
}

.title
{
    display: flex;
    justify-content: center;
    color: #aa22d3;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 20px;
}

.content
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card
{
    background-color: #111111;
    width: 340px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.7s;
    margin-top: 10px;
}

.card:hover
{
    transform: scale(1.1);
}

@media (min-width: 912){
    section
    {
    padding: 50px 100px;
    }
}

/* Global Classes */

/* Start Main Section */
.main
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #111111;
}

.main h2
{
    color: #BF29EC;
    font-size: 1.4em;
    font-weight: 600;
    width: 500px;
    line-height: 30px;
}

.main h2 span
{
    font-size: 35px;
    color:#fff;
    font-weight: 700;
    display: inline-block;
    margin-top: 20px;
    line-height: 40px;
}

.main h3
{
    color: #BF29EC;
    width: 500px;
    margin-top: 20px;
    line-height: 30px;
}

.main-btn
{
    background-color: #BF29EC;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 5px;
    transition: 0.7s ease;
}

.main-btn:hover
{
    background-color: #991ebe;
    transform: scale(1.1);
}


.social-links a
{
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    font-size: 25px;
    padding-left: 10px;
}


.social-links a:hover
{
    color: #aa22d3;
}

.main-img
{
    position: absolute;
    top: 27%;
    left: 60%;
    width: 300px;
    height: 300px;
}


.card .icon
{
    color: #aa22d3;
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 20px;
}

.card .info
{
    text-align: center;
}

.card .info h3
{
    color: #aa22d3;
    font-weight: 600;
    margin-bottom: 20px;
}

.card .info p
{
    color: white;
}

@media (max-width: 767px){ /* Mobile And Tablet */
    
    .main
    {
        width: 100%;
    }
    .main-img
    {
        display: none;
    }

    .title
    {
        font-size: 1.5em;
    }

    .main h2
    {
        font-size: 1em;
        width: 200px;
    }

    .main h3
    {
        font-size: 1em;
        width: 200px;
    }

    .main-btn
    {
        padding: 5px 20px;
    }

    section
    {
        padding: 80px 50px;
    }

    
    .card
    {
        width: 250px;
        margin-left: 0;
        margin-top: 10px;
    }

    .project-card
    {
        min-width: 300px;
        margin-left: 0;
        margin-top: 10px;
    }

}

@media (min-width: 768px){ /* Small Screen */
    .main-img
    {
        display: none;
    }
}

@media (min-width: 992px){ /* Medium Screen */
    .main-img
    {
        display: block;
        top: 30%;
    }
}

@media (min-width: 540px){
    .main-img
    {
        display: block;
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 912px) and (max-width: 1000px){
    .main-img
    {
        left: 70%;
        top: 40%;
    }
}
/* End Main Section */

/* Start Skills Section */
.skills
{
    background-color: #111111;
}

.skills h2:first-child
{
    display: flex;
    justify-content: center;
    color: #aa22d3;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.skills .header-tools
{
    display: flex;
    justify-content: center;
    color: #aa22d3;
    font-size: 2.2em;
    font-weight: 800;
    margin-top: 100px;
    padding: 10px;
}

.skills .front-end
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills .skill-card
{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    padding: 7px;
    margin-left: 10px;
    text-align: center;
}

.skills .skill-card i
{
    color: #aa22d3;
    margin-top: 10px;
    font-size: 2.2em;
}

.skills .skill-card p
{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.skills .skill-card .jquery-icon
{
    width: 35.2px;
    height: 35.2px;
    padding-top: 10px;
}

.skills .skill-card .jquery-pra
{
    margin-top: 5px;
}

@media (max-width: 767px){
    .skills .skill-card
    {
        margin-bottom: 10px;
    }
}
/* End Skills Section */

/* Start Projects Section */
.projects .content
{
    margin-top: 30px;
}

.project-card
{
    background-color: #111111;
    min-height: 224px;
    max-width: 368px;
    overflow: hidden;
    border-radius: 10px;
    border: 4px solid #111111;
    transition: 0.7s ease;
    margin-left: 20px;
}

.project-card:hover
{
    transform: scale(1.1);
}

.project-card .project-img img
{
    width: 100%;
}

.project-card:hover .project-img img
{
    opacity: 0.8;
}

.project-card .project-info
{
    padding: 16px;
    text-transform: uppercase;
    margin-top: 5px;
}

.project-card .project-info .project-pra
{
    color: #fff;
}

.project-card .project-info .project-title
{
    display: flex;
    justify-content: space-between;
}

.project-info .project-title span
{
    color: #aa22d3;
}

.project-info .project-title a
{
    text-decoration: none;
    color: white;
}

.project-info .project-title a:hover 
{
    color: #aa22d3;
} 

@media (min-width: 280px) and (max-width: 400px){
    .project-card
    {
        min-width: 300px;
        min-height: 200px;
    }
}
/* End Projects Section */

/* Start Contact Section */
.contact
{
    background-color: #111111;
}

.contact .card
{
    background-color: white;
}

.contact .card p
{
    color: black;
    font-weight: 600;
}

@media (min-width: 280px) and (max-width: 400px){
    .contact .title
    {
        font-size: 1em;
    }
}
/* End Contact Section */

/*Start Footer Section */
.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.footer .footer-title span
{
    color: #aa22d3;
}

.footer .social-links i
{
    color: #000;
}

.footer .social-links i:hover
{
    color: #aa22d3;
}

@media (max-width: 767px){
    .footer
    {
        padding: 16px;
        align-items: center;
    }

    .footer .footer-title
    {
        font-size: 16px;
        line-height: 2px;
    }

    .footer .social-links i
    {
        margin-bottom: 15px;
    }
}

@media (min-width: 280px) and (max-width: 400px){
    
    .footer
    {
        padding: 10px 20px;
        justify-content: center;
    }

    .footer .footer-title
    {
        font-size: 16px;
        line-height: 20px;
    }

    .footer .social-links i
    {
        margin-bottom: 0;
    }
}
/*End Footer Section */
